{% extends 'layouts/basic.html' %}
{% load static %}
{% block css %}{% static 'main/css/calendar.css' %}{% endblock %}
{% block title %}Календарь соревнований{% endblock %}
{% block title1 %}Календарь соревнований{% endblock %}

{% block content %}
<section class="section_calendar">
    <div class="container">
        <div class="block_calendar">
            <div class="calendar">
                <div class="calendar_table">
                    <table>
                        <tr class="table_head">
                            <td>№</td>
                            <td>Дата</td>
                            <td>Наименование мероприятия</td>
                        </tr>
                        <tr class="table_month">
                            <td colspan="3">Январь</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>17/01/2021</td>
                            <td>Лига любителей боулинга. 1 этап</td>
                        </tr>
                        <tr class="table_month">
                            <td colspan="3">Февраль</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>07/02/2021</td>
                            <td>Лига любителей боулинга. 2 этап</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>28/02/2021</td>
                            <td>Лига любителей боулинга. 3 этап</td>
                        </tr>
                        <tr class="table_month">
                            <td colspan="3">Март</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>21/03/2021</td>
                            <td>Лига любителей боулинга. 4 этап</td>
                        </tr>
{#                        <tr class="table_month">#}
{#                            <td colspan="3">Апрель</td>#}
{#                        </tr>#}
{#                        <tr>#}
{#                            <td>4</td>#}
{#                            <td>05/04/2020</td>#}
{#                            <td>Большой TRIPLE</td>#}
{#                        </tr>#}
{#                        <tr>#}
{#                            <td>5</td>#}
{#                            <td>26/04/2020</td>#}
{#                            <td>Весенний кубок</td>#}
{#                        </tr>#}
{#                        <tr class="table_month">#}
{#                            <td colspan="3">Май</td>#}
{#                        </tr>#}
{#                        <tr>#}
{#                            <td>6</td>#}
{#                            <td>17/05/2020</td>#}
{#                            <td>Кубок Братска-2020. Plastic Ball</td>#}
{#                        </tr>#}
{#                        <tr class="table_month">#}
{#                            <td colspan="3">Июнь</td>#}
{#                        </tr>#}
{#                        <tr>#}
{#                            <td>7</td>#}
{#                            <td>07/06/2020</td>#}
{#                            <td>Кубок Президента</td>#}
{#                        </tr>#}
{#                        <tr>#}
{#                            <td>8</td>#}
{#                            <td>28/06/2020</td>#}
{#                            <td>Летний Кубок</td>#}
{#                        </tr>#}
{#                        <tr>#}
{#                            <td></td>#}
{#                            <td>02, 16</td>#}
{#                            <td>Летняя Лига</td>#}
{#                        </tr>#}
{#                        <tr class="table_month">#}
{#                            <td colspan="3">Июль</td>#}
{#                        </tr>#}
{#                        <tr>#}
{#                            <td></td>#}
{#                            <td>02, 16, 30</td>#}
{#                            <td>Летняя Лига</td>#}
{#                        </tr>#}
{#                        <tr class="table_month">#}
{#                            <td colspan="3">Август</td>#}
{#                        </tr>#}
{#                        <tr>#}
{#                            <td></td>#}
{#                            <td>13, 27</td>#}
{#                            <td>Летняя Лига</td>#}
{#                        </tr>#}
{#                        <tr class="table_month">#}
{#                            <td colspan="3">Сентябрь</td>#}
{#                        </tr>#}
{#                        <tr>#}
{#                            <td>8</td>#}
{#                            <td>13/09/2020</td>#}
{#                            <td>Куликовская битва</td>#}
{#                        </tr>#}
{#                        <tr class="table_month">#}
{#                            <td colspan="3">Октябрь</td>#}
{#                        </tr>#}
{#                        <tr>#}
{#                            <td>9</td>#}
{#                            <td>04/10/2020</td>#}
{#                            <td>Кубок Братска-2020. 3 этап</td>#}
{#                        </tr>#}
{#                        <tr>#}
{#                            <td>10</td>#}
{#                            <td>25/10/2020</td>#}
{#                            <td>Осенний Кубок</td>#}
{#                        </tr>#}
{#                        <tr class="table_month">#}
{#                            <td colspan="3">Ноябрь</td>#}
{#                        </tr>#}
{#                        <tr>#}
{#                            <td>11</td>#}
{#                            <td>08/11/2020</td>#}
{#                            <td>Кубок Братска-2020. 4 этап</td>#}
{#                        </tr>#}
{#                        <tr>#}
{#                            <td>12</td>#}
{#                            <td>29/11/2020</td>#}
{#                            <td>Большой DOUBLE</td>#}
{#                        </tr>#}
{#                        <tr class="table_month">#}
{#                            <td colspan="3">Декабрь</td>#}
{#                        </tr>#}
{#                        <tr>#}
{#                            <td>13</td>#}
{#                            <td>09-13/12/2020</td>#}
{#                            <td>Открытый Чемпионат Братска</td>#}
{#                        </tr>#}
{#                        <tr>#}
{#                            <td>14</td>#}
{#                            <td>27/12/2020</td>#}
{#                            <td>Кубок Братска-2020. Гранд-Финал</td>#}
{#                        </tr>#}
                    </table>
{#                    <div class="results_link">#}
{#                        <img src="{% static 'main/img/pdf.png' %}" alt="PDF">#}
{#                        <a target="_blank" href="https://drive.google.com/file/d/1aHBvT4hNrXGhX7r6pu8BTmyAr5138oqy/view?usp=sharing" class="document_name">Календарь турниров PDF</a>#}
{#                    </div>#}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}